/*UNIVERSAL*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F3F5;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

button{
    justify-content: center;
    align-items: center;
    border: 0px;
    width: 21.25rem;
    height: 4.6875rem;
    background-color: #6d99db;
    font-size: 2rem;
    font-weight: bold; 
    transition-duration: 0.4s;
}

button:hover {
    background: #000;
    box-shadow: 0px 2px 20px 10px #97B1BF;
    color: #F5F3F5;
}

.fa-arrow-down{
    font-size: 4rem;
    justify-self: center;
}


.hover{
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 #6d99db;
}

.hover:hover{
    box-shadow: inset 50rem 0 0 0 #6d99db;
    color: white;
}

/*CONTAINER*/
.container{
    display: flex;
    flex-direction: column;
    width: 40rem;
    border-radius: 20px 20px 20px 20px;
}

.container-title{
    border-radius: 20px 20px 0px 0px;
    border: 0px;
    text-align: center;
    width: 100%;
    color: #F5F3F5;
    background-color: #1B264F;  
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    
}

.container-body{
    display: flex;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F5F3F5;
    justify-content: space-around;
}



/*NAV*/

nav{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: #000;
}

nav a{
    text-decoration: none;   
    color: #F5F3F5;

}

nav li {
    display: inline-block;
    margin-right: 2rem;
}

strong{
    color: #6d99db;
}

/*INFO SECTION*/
#info-section{
    display: grid;
    position: relative;
    top: 6rem;
    padding: 5rem;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    background-color: #1B264F;
    color: #F5F3F5;
}

.photo-container{
    grid-area: photo;
    background-color: #6d99db;
    border-radius: 50px;
    overflow: hidden;
    justify-self: center;
}

.photo-container img{
    display: block;
    width: 100%;
    height: auto;
}

#welcome{
    grid-area: welcome;
    
}

#david-name{
    grid-area: name;
    font-weight: bold;
}


#david-info{
    grid-area: info;
}

.links{
    grid-area: links;
    display: flex;
}

.links li{
    display: inline-block;
    margin-right: 3.125rem;
}

.email{
    grid-area: email;
    color: #F5F3F5;
    text-decoration: none;
}


/*PRINCIPAL SECTION*/
#principal-section{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 6rem;
    padding: 2rem 7rem;
    justify-content: space-around;
    gap: 2rem;
    background-color: #26408B;
}

#left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*CERTIFICATES*/
.certificate-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: auto;
}

.certificate-container img{
    width: 100%;
    height: auto;
    display: block;
}


/*SKILLS*/
.skill{
    text-align: center;
}

.skill img{
    width: 100px;
    height: 100px;
    margin: 0.5rem;
}

#mongo img{
    width: 66px;
    height: 100px;
}

#excel img{
    width: 150px;
    height: 100px;
}

#flask img{
    width: 70px;
    height: 100px;
}

#jupyter img{
    width: 80px;
    height: 100px;
}

/*PROJECTS*/
.project-description{
    color: #F5F3F5;
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.project{
    text-align: center;
}

#projects-body{
    background-color: #000;
}



/*MEDIA QUERIES*/

/*COMPUTERS*/
@media only screen and (min-width: 768px),(orientation: landscape) {
    /*INFO SECTION*/
    #info-section{
        grid-template-areas: 
        "welcome photo"
        "name photo"
        "info photo"
        "links photo"
        "email photo";
        grid-template-columns:  2fr 1fr;
        grid-template-rows: 2rem 2rem 7rem 6rem 2rem;
    }

    #welcome{     
        justify-self: flex-start;
    }

    #david-name{
        justify-self: flex-start;
    }

    .photo-container{
        width: 30rem;
        height: 30rem;
    }

    .email{
        font-size: 2rem;
    }

    /*PRINCIPAL SECTION*/
    #principal-section{
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

  
}

/*TABLET*/

@media only screen and (max-width: 1024px){
    /*INFO SECTION*/
    #info-section{
        grid-template-areas: 
        "photo"
        "photo"
        "name"
        "links"
        "email";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,10rem) 5rem 8rem 2rem;
        gap: 0.5rem;
    }

    
    #david-name{

        justify-self: center;
    }

    #welcome{     
        justify-self: center;
    }

    .photo-container{
        width: 15.625rem;
        height: 15.625rem;
    }

    .large{
        display: none;
    }

    
    .email{
        font-size: 1.75rem;
    }

    /*PRINCIPAL SECTION*/
    #principal-section{
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 2rem;
    }
}

/*PHONE*/
@media only screen and (max-width: 425px){
    /*INFO SECTION*/
    #info-section{
        grid-template-areas: 
        "photo"
        "photo"
        "name"
        "links";
       
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,10rem) 5rem 8rem;
        gap: 0.5rem;
    }

    #david-name{
        justify-self: center;
        font-size: 2rem;
    }

    #welcome{     
        justify-self: center;
    }

    .photo-container{
        width: 15.625rem;
        height: 15.625rem;
    }

    .large{
        display: none;
    }

    
    .email{
        display: none;
    }

    /*PRINCIPAL SECTION*/
    #principal-section{
        display: none;
    }

    .links li{
        display: inline-block;
        margin-right: 0.05rem;
        flex-wrap: wrap;
    }
}

